@import '/app/mixins.scss';

.singlePost {
  padding: 50px;
  margin: auto;
  border-radius: 10px;
  animation: fadeIn 0.5s ease;
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
  color: #333;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .title {
    color: var(--secColor);
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.02em;
  }

  .author {
    font-size: 14px;
    color: var(--midColor);
  }

  .image {
    width: 100%;
    aspect-ratio: 3/2;
    // height: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.1);
    object-fit: cover;
  }

  .summary {
    font-size: 20px;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.5;
  }
  
  .content {
    @include rich-text;
  }
}

@media (max-width: 768px) {
  .singlePost {
    padding: 20px;
    max-width: 100%;
    gap: 1.75rem;

    .title {
      font-size: 1.875rem;
    }

    .author {
      font-size: 0.9rem;
    }

    .summary {
      font-size: 18px;
    }
  }
}
